@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
[data-bs-theme=dark] {
    --bs-table-striped-color : #30595e !important;
    --bs-table-striped-bg: #5534cb !important;
    color-scheme: dark;
    --bs-body-color: #a27c8e !important;
    --bs-body-bg: #011f23 !important;
    --bs-emphasis-color: #d27868 !important;
    --bs-secondary-color: rgba(225, 210, 223, 0.75) !important;
    --bs-secondary-bg: #d27868 !important;
    --bs-secondary-border-subtle: #a365da !important;
    --bs-light-border-subtle: #a365da !important;
    --bs-dark-border-subtle: #d27868 !important;
    --bs-border-color: #a365da !important;
}
.btn-primary {
    --bs-btn-color: #9a2b88;
    --bs-btn-bg: #30595e !important;
    --bs-btn-border-color: #a365da !important;
    --bs-btn-hover-bg: #022026 !important;
    --bs-btn-hover-border-color: #d27868 !important;
    --bs-btn-active-border-color: #a365da !important;
    --bs-btn-disabled-bg: #036873 !important;
    --bs-btn-disabled-border-color: #d27868 !important;
}
.btn{
    --bs-btn-font-size: 2vh !important;
}

html,
.font-monospace
{
    font-size: 2.8vh !important;
}

.btn:hover,
.btn:focus {
    background-color: #641d30 !important;
    transform: scale(1.1);
    transition: background-color 750ms;
}


